*{
margin:0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}



header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 21px 0 30px ;
}

.links {
    padding-top: 10px;
    margin: 0 41px;
}

.links a {
    font-size: 13px;
    font-family: "Myriad Pro";
    color: rgba(102, 102, 102, 0.671);
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
}
  

.login {
    height: 30px;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    background-color: #bcda5c;

}

/*--*/
.banner {
    width: 100%;
    background: url('../img/banner.png');
    background-size: cover;
    padding-top: 169px;
    padding-bottom: 68px;
    text-align: center;
}

.banner button {
    height: 73px;
    width: 255px;
    background: #a5c430;
    border-radius: 10px;
    font-size: 19.2px;
}

.arrows {
    width: fit-content;
    position: absolute;
    top: 457px;
    right: 108px;
}
.arrows img:first-child {
    margin-right: 32px;
}


.white {
    color: #fff;
}

.title {
    font-size: 49.2px;
}

.subtitle {
    font-size: 35.2px;
}

.h1 {
    font-size: 31.2px;
}

.p {
    width: 936px;
    line-height: 1.2;
    font-size: 19.2px;
    margin: 0 auto;
}

button {
    border: none;
}  
/*---------------*/

.content {
    padding-top: 99px;
    text-align: center;
}


.sec-1 {
    padding-bottom: 155px;
}

.grey {
    color: #515151;
}


.sec-2 {
    width: 100%;
}

.center {
    margin: 0 auto;
}


.tabs {
    width: 936px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 74px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 29px;
}

.tab p {
    height: 30px;
    width: 30px;
    font-size: 20.19px;
    padding: 14px;
    border-radius: 100%;
    margin-right: 29px;
}

.tab h1 {
    font-size: 33.2px;
}

.tab.active {
    border-bottom: 1px solid #b7d048;
}

.tab.active p {
    background: #b7d048;
}

.tab.passive {
    border-bottom: 1px solid #5f5f5f;
}

.tab.passive p {
    background: #5f5f5f;
}

.tab.active h1 {
    margin-right: 71px;
}

.tab.passive p {
    margin-left: 71px;
}

.cont {
    width: 936px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 104px;
}
.cont .info {
    display: flex;
    flex-flow: column;
    text-align: left;
}

.cont .info h1 {
    font-size: 25.2px;
    margin-left: 28px;
}

.cont .info p {
    text-align: justify;
    font-size: 17.2px;
}

.cont img {
    margin-right: 104px;
    width: 128px;
    height: 128px;
}

.green {
    color: #b7d048;
}


.sec-3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.find {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 47px 0;
}

.properties {
    background: #e8f8ff;
   
}
.buyers {
  
    background: #f6f9eb;
}

.find img {
    height: 112px;
    width: 133px;
    margin-right: 60px;
}

.find div {
    width: 278px;
    text-align: left;
    padding-right: 38px;
}

.find div h1 {
    font-size: 23.2px;
}

.find div button {
    padding: 19px 26px;
    border-radius: 10px;
}

.properties div button {
    background: #62a4ce;
}


.buyers div button {
    background: #b7d048;
}

.sec-4 {
    width: 80%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.description div {
    width: 650px;
}

.description div h1 {
    font-size: 29.2px;
}

.description div p {
    font-size: 17.2px;
}

.description button {
    width: fit-content;
    padding: 20px 41px 20px 23px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}

.lightgrey {
    color: #8e8e8e;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    background: #f9f9f9;
    border-radius: 10px;
}

.card:nth-child(2) {
    margin: 0 41px;
}

.card .images {
    height: 226px;
    background-size: cover;
    text-align: left;
}

.card-1 .images {
    background: url("../img/ontario1.png");
}

.card-2 .images {
    background: url("../img/ontario2.png");
}

.card-3 .images {
    background: url("../img/ontario3.png");
}

.card .images p {
    width: fit-content;
    font-size: 16.51px;
    padding: 11px 8px;
    background: #62a4ce;
    border-radius: 10px;
    margin: 77px 0 0 78px;
}

.card .desc {
    margin: 0 25px;
}

.card .desc h1 {
    font-size: 17.2px;
    color: #494949;
}

.card .desc .information {
    font-size: 13.2px;
    color: #494949;
    text-align: left;
}

.progress {
    width: 100%;
    background: #e2e2e2;
    border-radius: 10px;
}

.progress div {
    height: 15px;
    background: #b7d048;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-1 .progress div {
    width: 10%;
}
.card-2 .progress div {
    width: 60%;
}

.card-3 .progress div {
    width: 10%;
}

.procents {
    display: flex;
    justify-content: space-between;
}

.card .desc .procents p {
    font-size: 13.2px;
    color: #8d8d8d;
}

.desc hr {
    color: #e2e2e2;
}

.desc a {
    color: #494949;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.desc a img {
    margin-left: 10px;
}

.sec-5 {
    padding: 40px 0 59px 0;
    background: url("../img/bg.png");
    background-size: cover;
}

.sec-5 .conversation {
    margin: 0 179px;
}

.sec-5 .recomends {
    padding-top: 98px;
    display: flex;
    justify-content: space-around;
}

.recomends .each .said {
    height: 230px;
    width: 400px;
    padding: 25px 39px 0 39px;
    border-radius: 10px;
    background: url("../img/sec5white.png");
    background-size: cover;
}

.recomends .each .said p {
    margin: 0;
    color: #848484;
}

.recomends .each .author {
    display: flex;
    margin-left: 95px;
    margin-top: 8px;
}

.recomends .each .author h4 {
    font-size: 15.2px;
    color: #4a4a4a;
    margin-left: 10px;
}

.footer {
    width: 100%;
    padding-bottom: 25px;
}

.footer div {
    padding: 45px 136px 41px 136px;
    border-bottom: 1px solid #ededed;
}

.footer p {
    text-align: center;
    font-size: 13.2px;
    color: #848484;
    padding-top: 27px;
}


.m-0 {
    margin: 0;
}

/*--*/

@media screen and (min-width: 1281px) {
  
  body {
    width: 100%;

  }
  
}

@media screen and (max-width: 1024px) {
  body {
    width:  70%;
  }
  header {
   
    margin: 17px 0 25px ;
}

.links {
    padding-top: 10px;
    margin: 0 30px;
}

.links a {
    font-size: 8px;
    margin: 0 7px;
   
}
  

.login {
    height: 25px;
    width: 70px;
   

}

/*--*/
.banner {
    width: 70%;
    padding-top: 140px;
    padding-bottom: 55px;
}

.banner button {
    height: 60px;
    width: 200px;
    font-size: 19.2px;
}

.arrows {
    top: 350px;
    right: 75px;
}
.arrows img:first-child {
    margin-right: 32px;
}


.title {
    font-size: 35px;
}

.subtitle {
    font-size: 28px;
}

.h1 {
    font-size: 27px;
}

.p {
    width: 750px;
    font-size: 15px;
}

/*---------------*/

.content {
    padding-top: 70px;
}


.sec-1 {
    padding-bottom: 120px;
}

.sec-2 {
    width: 70%;
}

.tabs {
    width: 700px;
    padding-bottom: 60px;
}

.tab {
    padding-bottom: 20px;
}

.tab p {
    height: 25px;
    width: 25px;
    font-size: 17px;
    padding: 12px;
    margin-right: 20px;
}

.tab h1 {
    font-size: 25px;
}

.tab.active h1 {
    margin-right: 60px;
}

.tab.passive p {
    margin-left: 60px;
}

.cont {
    width: 640px;
    padding-bottom: 70px;
}
.cont .info h1 {
    font-size: 20px;
    margin-left: 20px;
}

.cont .info p {
    font-size: 14px;
}

.cont img {
    margin-right: 70px;
    width: 90px;
    height: 90px;
}


.sec-3 {
    width: 70%;
}

.find {
    width: 40%;
    padding: 35px 0;
}

.find img {
    height: 75px;
    width: 75px;
    margin-right: 48px;
}

.find div {
    width: 200px;
    padding-right: 25px;
}

.find div h1 {
    font-size: 18px;
}

.find div button {
    padding: 14px 20px;
}

.buyers div button {
    background: #b7d048;
}

.sec-4 {
    width: 55%;
}

.description div {
    width: 650px;
}

.description div h1 {
    font-size: 20px;
}

.description div p {
    font-size: 14px;
}

.description button {
    padding: 17px  30px 17px 20px;
}

.card {
    width: 230px;
}

.card:nth-child(2) {
    margin: 0 41px;
}

.card .images {
    height: 180px;
}

.card .images p {
    font-size: 10px;
    padding: 9px 6px;
    margin: 77px 0 0 78px;
}

.card .desc {
    margin: 0 20px;
}

.card .desc h1 {
    font-size: 14px;
}

.card .desc .information {
    font-size: 10px;    
}

.progress {
    width: 70%;
}

.progress div {
    height: 15px;
}

.card-1 .progress div {
    width: 7%;
}
.card-2 .progress div {
    width: 40%;
}

.card-3 .progress div {
    width: 7%;
}


.card .desc .procents p {
    font-size: 10px;
}


.desc a img {
    margin-left: 7px;
}

.sec-5 {
    padding: 30px 0 40px 0;
}

.sec-5 .conversation {
    margin: 0 140px;
}

.sec-5 .recomends {
    padding-top: 70px;
}

.recomends .each .said {
    height: 180px;
    width: 350px;
    padding: 18px 28px 0 28px;
}



.recomends .each .author {
    margin-left: 69px;
    margin-top: 6px;
}

.recomends .each .author h4 {
    font-size: 12px;
    margin-left: 8px;
}

.footer {
    width: 70%;
    padding-bottom: 20px;
}

.footer div {
    padding: 38px 100px 28px 100px;
}

.footer p {
    font-size: 10px;
    padding-top: 20px;
}


  
  }

  @media screen and (max-width: 480px){
    body {
        width: 40%;
        width: 40%
    }
header {
    margin: 9px 0 12px ;
}

.links {
    padding-top: 4px;
    margin: 0 18px;
}

.links a {
    font-size: 5px;
    margin: 0 4px;
}
  

.login {
    height: 13px;
    width: 40px;

}

/*--*/
.banner {
    width: 40%;
    padding-top: 80px;
    padding-bottom: 30px;
}

.banner button {
    height: 30px;
    width: 110px;
    border-radius: 10px;
    font-size: 8px;
}

.arrows {
    top: 200px;
    right: 50px;
}
.arrows img:first-child {
    margin-right: 15px;
}


.title {
    font-size: 23px;
}

.subtitle {
    font-size: 23px;
}

.h1 {
    font-size: 23px;
}

.p {
    width: 400px;
    line-height: 1.2px;
    font-size: 8px;
}


/*---------------*/

.content {
    padding-top: 40px;
}


.sec-1 {
    padding-bottom: 70px;
}

.sec-2 {
    width: 40%;
}

.tabs {
    width: 400px;
    padding-bottom: 30px;
}

.tab {
    padding-bottom: 12px;
}

.tab p {
    height: 12px;
    width: 12px;
    font-size: 10px;
    padding: 6px;
    margin-right: 12px;
}

.tab h1 {
    font-size: 15px;
}

.tab.active h1 {
    margin-right: 28px;
}

.tab.passive p {
    margin-left: 30px;
}

.cont {
    width: 420px;
    padding-bottom: 40px;
}

.cont .info h1 {
    font-size: 12px;
    margin-left: 12px;
}

.cont .info p {
    font-size: 6px;
}

.cont img {
    margin-right: 40px;
    width: 55px;
    height: 55px;
}

.sec-3 {
    width: 40%;
}

.find {
    width: 23%;
    padding: 20px 0;
}



.find img {
    height: 555px;
    width: 55px;
    margin-right: 28px;
}

.find div {
    width: 120px;
    padding-right: 16px;
}

.find div h1 {
    font-size: 11px;
}

.find div button {
    padding: 8px 12px;
    border-radius: 10px;
}

.sec-4 {
    width: 30%;
}


.description div {
    width: 300px;
}

.description div h1 {
    font-size: 15px;
}

.description div p {
    font-size: 12px;
}

.description button {
    padding: 8px 19px 8px 10px;
}

.card {
    width: 130px;
}

.card:nth-child(2) {
    margin: 0 41px;
}

.card .images {
    height: 100px;
}


.card .images p {
    font-size: 7px;
    padding: 4px 3px;
    margin: 30px 0 0 30px;
}


.card .desc h1 {
    font-size: 7px;
}

.card .desc .information {
    font-size: 7px;;
}

.progress {
    width: 40%;
}

.progress div {
    height: 7px;
}

.card-1 .progress div {
    width: 5%;
}
.card-2 .progress div {
    width: 30%;
}

.card-3 .progress div {
    width: 5%;
}


.card .desc .procents p {
    font-size: 6px;
}

.desc a img {
    margin-left: 4px;
}

.sec-5 {
    padding: 18px 0 27px 0;
}

.sec-5 .conversation {
    margin: 0 75px;
}

.sec-5 .recomends {
    padding-top: 44px;
}
.recomends .each .said {
    height: 120px;
    width: 180px;
    padding: 11px 17px 0 17px;
}

.recomends .each .said p {
    margin: 0;
}

.recomends .each .author {
    margin-left: 40px;
    margin-top: 4px;
}

.recomends .each .author h4 {
    font-size: 7px;
    margin-left: 4px;
}

.footer {
    width: 40%;
    padding-bottom: 10px;
}

.footer div {
    padding: 20px 60px 20px 60px;
}

.footer p {
    font-size: 6px;
    padding-top: 12px;
}

  

}

  
