.Footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1300px;
  height: 3589px;
  z-index: 6;
}
.Layer_27 {
  background-image: url("Layer 27.png");
  opacity: 0.11;
  position: absolute;
  left: 0px;
  top: 3523px;
  width: 1300px;
  height: 1px;
  z-index: 5;
}
.Copyright_©_2001___2014__Cssauthor_com {
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(132, 132, 132);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 536px;
  top: 3547.71px;
  z-index: 4;
}
.Layer_25 {
  background-image: url("Layer 25.png");
  position: absolute;
  left: 132px;
  top: 3437px;
  width: 1028px;
  height: 45px;
  z-index: 3;
}
      
 