*{
margin:0;
padding: 0;
}

header{
	width: 100%;
	height: 80px;
	background-color: #C2CAD0;
}

main { width: 100%;
       height: 495px;
       background-color: #C2B9B0;
        } 

 footer{
  width: 100%;
  height: 50px;
	background-color: #7E685A;
 ;
 }        